.container{
    font-family: Arial, Helvetica, sans-serif;    
    width: 70%;
}
h1, h2{
    font-weight: bolder;
}
header{
    text-align: center;
}
textarea{
    margin: auto;
    border-style: dashed;
    width: 95%;
    height: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

button{
    border-style: hidden;
    border-radius: 50%;
}
.main{
    padding: 50px;
}
.gen{
    float: left;
    margin:auto;
    padding-left: 20px;
}
.copy{
    float: right;
    margin: auto;
    padding-right:20px;
}
.btn btn-danger{
    border-radius: 50%;
}